@import './vars.scss';

body.noscroll {
  overflow: hidden !important;
}

.App {
  z-index: 9999;
  position: absolute;
  line-height: normal;
}

.buttons {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  @include button;
  margin-bottom: 12px;
}

.openButton {
  @include button;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.menuItem {
  color: #333;
  padding: 5px 7px;
  border-radius: 4px;
}

.menuItem:hover {
  background-color: #eee;
  cursor: pointer;
}

.vimala {
  font-family: "Vimala", "Noto Serif Balinese", "Noto Sans Balinese", sans-serif;
}

.pustaka {
  font-family: "Pustaka", "Noto Serif Balinese", "Noto Sans Balinese", sans-serif;
}

.transcriber {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.transcriber.closed {
  display: none;
}

.image {
  @include pane;
  top: $imageTop;
  height: $imageHeight;
}

.image.expanded {
  height: $imageHeightExpanded;
}

.text {
  @include pane;
  @include wrap;
  font-size: $fontSize;
  line-height: 2.3;
  scroll-behavior: smooth;
  top: $textTop;
  height: $textHeight;
  border: none;
}

.text.expanded {
  top: $textTopExpanded;
  height: $textHeightExpanded;
}

.caret {
  block-size: 100%;
  border-inline-start: 1px solid red;
}

.transliteration {
  @include pane;
  @include wrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 2;
  font-size: $fontSize;
  font-family: sans-serif;
  top: $keyboardTop;
  height: $keyboardHeight;
  background-color: white;
  border-top: 2px solid black;
}

.transliteration.expanded {
  top: $textTopExpanded;
  height: $textHeightExpanded;
}

.transliteration.visible {
  visibility: visible;
  opacity: 1;
}

.transliterationText {
  padding: 3px;
}

@media screen and (max-width: 350px) {
  .button, .openButton {
    transform: scale(1.4);
  }
}

