@import './vars.scss';

body.noscroll {
  overflow: hidden !important;
}

.App {
  z-index: 9999;
  position: absolute;
  line-height: normal;
}

.buttons {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  display: flex;
}

.buttons.horiz {
  flex-direction: row-reverse;
}

.buttons.vert {
  flex-direction: column;
}

.buttons.horiz .button {
  margin-left: 12px;
}

.buttons.vert .button {
  margin-bottom: 12px;
}

.button {
  height: 32px;
  width: 32px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: buttontext;
  background-color: buttonface;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216,216,216) rgb(209,209,209) rgb(186,186,186);
  border-image: initial;
  -webkit-apperance: button;

  &:active {
    border-style: inset;
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.button.open, .button.prev {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.button.next {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.button.closeTransliteration {
  float: right;
  margin: 10px 10px 4px 4px;
}

.menuItem {
  color: #333;
  padding: 6px 7px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #eee;
}

.menuItem.disabled:hover {
  background-color: inherit;
}

.menuItem .indented {
  display: inline-block;
  width: 1.25em;
}

.menuItem .checked:before {
  content: "✓";
}

.Vimala_Rwa {
  font-family: "Vimala Rwa", $fonts, sans-serif;
}

.Vimala_Eka {
  font-family: "Vimala Eka", $fonts, sans-serif;
}

.Pustaka_Bali {
  font-family: "Pustaka Bali", $fonts, sans-serif;
}

.defaultFont {
  font-family: $fonts, sans-serif;
}

.transcriber {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.closed {
  display: none;
}

.image {
  @include pane;
  top: $imageTop;
  height: $imageHeight;
}

.image.expanded {
  height: $imageHeightExpanded;
}

.spinner {
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  @include pane;
  @include wrap;
  font-size: $fontSize;
  line-height: 2.3;
  scroll-behavior: smooth;
  top: $textTop;
  height: $textHeight;
  border: none;
  padding: 0 5px;
}

.text.expanded {
  top: $textTopExpanded;
  height: $textHeightExpanded;
}

.caret {
  block-size: 100%;
  border-inline-start: 1px solid red;
}

.transliteration {
  @include pane;
  @include wrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 2;
  font-size: $fontSize;
  font-family: sans-serif;
  top: $keyboardTop;
  height: $keyboardHeight;
  background-color: white;
  border-top: 2px solid black;
}

.transliteration.expanded {
  top: $textTopExpanded;
  height: $textHeightExpanded;
}

.transliteration.visible {
  visibility: visible;
  opacity: 1;
}

.transliterationText {
  padding: 3px;
}

@media screen and (max-width: 350px) {
  .button, .openButton {
    transform: scale(1.4);
  }
}

