body.noscroll {
  overflow: hidden !important;
}

.App {
  z-index: 9999;
  position: absolute;
  line-height: normal;
}

.tr-buttons {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.tr-button {
  margin-left: 12px;
  height: 32px;
  cursor: pointer;
}

.tr-open-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  height: 32px;
  cursor: pointer;
}

.transcriber {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.transcriber.closed {
  display: none;
}

.image-container {
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  position: absolute;
}

.tr-text {
  font-size: 16pt;
  font-family: "Noto Serif Balinese";
  white-space: pre-wrap;
  width: 100%;
  height: 20%;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  scroll-behavior: smooth;
  position: absolute;
  top: 40%;
  left: 0;
}

.tr-caret {
  block-size: 100%;
  border-inline-start: 1px solid red;
}

.tr-transliteration {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 2;
  font-size: 16pt;
  font-family: sans-serif;
  white-space: pre-wrap;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  position: absolute;
  top: 60%;
  left: 0;
  padding: 5px 0px;
  background-color: white;
  border-top: 2px solid black;
}

.tr-transliteration.visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 350px) {
  .tr-button {
    transform: scale(1.4);
  }

  .tr-transliteration-button {
    right: 50px;
  }
}

