body {
  margin-bottom: 40vh !important;
}

.keyboard {
  font-family: "Noto Serif Balinese";
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  font-size: 4vh;
  user-select: none;
  background-color: white;
}

.vowels {
  display: flex;
  flex-direction: row;
}

.independent-vowels {
  display: flex;
  flex-direction: column;
}

.dvowel {
  color: darkgrey;
}

.key-row {
  display: flex;
  block-size: 8vh;
  align-items: flex-end;
}

.key {
  background: white;
  box-sizing: border-box;
  text-align: center;
  border: .5px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.key.zoom {
  z-index: 3;
  block-size: 20vh;
  min-inline-size: 100%;
  justify-content: flex-start;
  justify-self: center;
  align-self: end;
}

.key.flash {
  background-color: grey;
}
