body {
  margin-bottom: 40vh !important;
  margin-bottom: calc(var(--vh, 1vh) * 40) !important;
}

.keyboard {
  font-family: "Noto Serif Balinese";
  display: grid;
  position: fixed;
  top: 60vh;
  top: calc(var(--vh, 1vh) * 60);
  left: 0;
  width: 100vw;
  height: 40vh;
  height: calc(var(--vh, 1vh) * 40);
  font-size: 4vh;
  font-size: calc(var(--vh, 1vh) * 4);
  background-color: white;
}

.dvowel {
  color: darkgrey;
}

.kb-key {
  background: white;
  box-sizing: border-box;
  text-align: center;
  border: 0.5px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.kb-key img {
  block-size: 4vh;
  block-size: calc(var(--vh, 1vh) * 4);
  margin: 8px;
}

.kb-key.kb-zoom {
  z-index: 3;
  block-size: 20vh;
  block-size: calc(var(--vh, 1vh) * 20);
  min-inline-size: 100%;
  justify-content: flex-start;
  justify-self: center;
  align-self: end;
}

.kb-key.kb-flash {
  background-color: grey;
}

/* .kb-icon {
  block-size: 4vh;
} */
