body {
  margin-bottom: 40vh !important;
}

.keyboard {
  font-family: "Noto Serif Balinese";
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  font-size: 4vh;
  background-color: white;
}

@media screen and (max-width: 400px) {
  body {
    margin-bottom: 35vh !important;
  }
  .keyboard {
    height: 35vh;
  }
}

.dvowel {
  color: darkgrey;
}

.kb-key {
  background: white;
  box-sizing: border-box;
  text-align: center;
  border: 0.5px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.kb-key img {
  block-size: 4vh;
  margin: 8px;
}

.kb-key.kb-zoom {
  z-index: 3;
  block-size: 20vh;
  min-inline-size: 100%;
  justify-content: flex-start;
  justify-self: center;
  align-self: end;
}

.kb-key.kb-flash {
  background-color: grey;
}

/* .kb-icon {
  block-size: 4vh;
} */