<form method="post" class="archive-leaf-form">

    {{#error}}
        <div class="archive-leaf-form-error">
            {{& . }}
        </div>
    {{/error}}

    <input type="text" name="import_id" id="import_id" autocomplete="off"
           required placeholder="some-item-id" value="{{ import_id_value }}" />
    <input type="submit" value="{{ submit_value }}" id="import_submit" />

    <div id="loading_form">
        {{ loading_message }}
        <div class="loader"></div>
    </div>

</form>
